
.footer-container {
  background-color: #333;
  color: #fff; 
  padding: 20px 0; 
  width: 100%;
  margin-top: auto;
  position: fixed;
}


.footer-content {
  max-width: 1200px;
  margin: 0 auto; 
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
}

.footer-links {
  margin-bottom: 15px;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  margin: 0 15px; 
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #fff; 
}

.footer-info p {
  margin: 5px 0;
  font-size: 0.9em;
  color: #aaa;
}